<!-- Header -->
<app-headerhassan40 [hassan40MyData]="Hassan40Personal"></app-headerhassan40>


<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [ngStyle]="{textAlign: 'center'}">

  <!-- Book -->
  <mat-tab>
    <ng-template mat-tab-label>
      My Book List - {{Hassan40Personal.myFullName}}
      <span class="material-icons"> menu_book</span>
    </ng-template>

    <!-- This Is Books Component -->
    <app-books-hassan40 [myBooks991704017]="Hassan40Books"></app-books-hassan40>
  </mat-tab>

  <!-- Campus -->
  <mat-tab>
    <ng-template mat-tab-label>
      Campus Info - {{Hassan40Personal.myFullName}}
      <span class="material-icons">school</span>
    </ng-template>
    <!-- This Is Campus Component -->
    <app-campus-hassan40 [campusData991704017]="Hassan40Campus"></app-campus-hassan40>
  </mat-tab>

</mat-tab-group>

<!-- Footer -->
<app-footerhassan40 [hassan40MyData]="Hassan40Personal"></app-footerhassan40>