<h3>Sheridan College – Select a Campus to View Address</h3>

<mat-form-field>
    <mat-label>Select Campus</mat-label>
    <mat-select (selectionChange)="onCampusChange($event.value)">
        <mat-option *ngFor="let x of campusData991704017" [value]="x.campus">
            {{ x.campus }}
        </mat-option>
        <mat-option value="none">None</mat-option>
    </mat-select>
</mat-form-field>


<h3 *ngIf="selectedCampusDetails">
    {{selectedCampusDetails.campus}}<br>
    {{ selectedCampusDetails.street }}<br>
    {{ selectedCampusDetails.city }}
</h3>