/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-component {
    background-color: #f9c6d1;
    color: #6d28d9;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
    /* Other styles for the header */
}

.footer-component {
    background-color: #f9c6d1;
    color: #6d28d9;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    margin-top: 15px;
    /* Other styles for the footer */
}

h3 {
    color: #6d28d9;
}
